.pane1{
    -fx-background-image:url("../images/panekhung1.jpg");
}
.pane2{
    -fx-background-image:url("../images/khunghome2.gif");
}
.button1{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.button2{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.button3{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.button4{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.button5{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.label2{
    -fx-background-color:rgb(90, 209, 193);
}
.buttonother{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.labelhot{
    -fx-background-color:rgb(163, 230, 230);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Serif";
    -fx-background-color: #2ecc71;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}
.list-view {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #adb5bd;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}


.list-cell {
    -fx-text-fill: #343a40;
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #dee2e6;
    -fx-cursor: hand;
}


.list-cell:selected {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.panecontent{
    -fx-background-image: url("../images/panecontent.jpg");
}

.Hbox1{
    -fx-background-color: transparent;
    -fx-border-color: rgb(171, 148, 235);
    -fx-border-width: 6px;
}
