.root {
    -fx-background-radius: 20;
}
.text-field {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 5;
}
.text-field:focused {
    -fx-border-color: #4CAF50;
}
.list-view {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: #e0f7fa;
    -fx-padding: 10;
    -fx-border-color: #81d4fa;
    -fx-border-width: 1.5;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.list-cell:hover {
    -fx-background-color: #b2ebf2;
}

.list-cell:selected {
    -fx-background-color: #4dd0e1;
    -fx-text-fill: white;
}
.list-cell:selected:focused {
    -fx-background-color: #a5d6a7;
}
.button {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
}
.button:hover {
    -fx-background-color: #45a049;
}
.button:pressed {
    -fx-background-color: #2ED9D9;
}
.table-view .column-header-background {
    -fx-background-color: #4fc3f7;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: #4fc3f7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-view .column-header .label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.table-row-cell:hover {
    -fx-background-color: #c8e6c9;
}
.table-row-cell:hover .table-cell {
    -fx-text-fill: black;
}

.table-row-cell:filled:selected {
    -fx-background-color: #81c784;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}
.table-row-cell:odd {
    -fx-background-color: #f1f8e9;
}
.table-row-cell:even {
    -fx-background-color: #ffffff;
}
.book-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #3b82f6, #10b981);
    -fx-font-family: "Comic Sans MS", "Nunito", "Segoe UI";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.3, 2, 2);
}

.book-title1 {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #3b4bf6, #6075fa);

    -fx-font-family: "Comic Sans MS", "Nunito", "Segoe UI";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.3, 2, 2);
}


